body {
  background-color: #EEEEEE;
}
p {
  background-color: #00ADB5;
  color: #222831;
  font-family: 'Secular One', sans-serif;
  font-size: 40px;
  padding: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
button {
  background-color: #393E46;
  color: #EEEEEE;
  text-transform: uppercase;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 1px;
}